@import 'ember-paper';
<<<<<<< HEAD

#hello{
	margin-left:90%;
}
.hi {
	margin-left: 2%;
}
.text-box {
	margin-top:30%;
}
=======
<<<<<<< HEAD

.font-icon {
    md-card {
        div {
            md-icon{
                
                    width: 10%;
                
            }
        }
       
    }
    
}
.header-container{
    height: 30vh;
    background-color:grey;
    // display: flex;
    //     align-items: center;
    .profile-avatar{
        
        width: 40vh;
        background-color: chocolate;
        margin-left: 80vh;
        margin-right: 80vh;
        height: 30vh;
    }

}
=======
<<<<<<< HEAD


=======
.search{
	text-align: center;
}
>>>>>>> 9b186c5fc2e43287af87bfef0ddcfc24ba778db8
>>>>>>> e4a814644852cc3a7a4268b8410bb40acc9dd44c
>>>>>>> 805f5d32e091ea8e495d29f87ad0c12eea70294f
