@import 'ember-paper';


#hello{
	margin-left:90%;
}
.hi {
	margin-left: 2%;
}
.text-box {
	margin-top:30%;
}
.leftmargin{
    margin-left: 2%;
}

.font-icon {
    md-card {
        div {
            md-icon{
                
                    width: 10%;
                
            }
        }
       
    }
    
}
.header-container{
    height: 30vh;
    background-color:grey;
    // display: flex;
    //     align-items: center;
    .profile-avatar{
        
        width: 40vh;
        background-color: chocolate;
        margin-left: 80vh;
        margin-right: 80vh;
        height: 30vh;
    }

}

.search{
	text-align: center;
}
