.container{
    .login-container  {
        
        border-style: solid;
        border-radius: 20px;
        padding: 5px;
        width: fit-content;  
        opacity: 0.7;
    }
    .login-container .container-projects{
        h2{
            @media (min-width:320px) {
                font-size: 0.75rem; 
            }
            @media (min-width:640px) {
                font-size: 1rem;
            }
            @media (min-width:720px){
                font-size: 1.25rem;
            }
            @media (min-width:960px){
                font-size: 1.5rem;
            }
        } 
    }
}

.login-create-team-card-container{
    md-card {
        height: 100px;
        width: 210px;
        md-card-content {
            
            overflow-y: scroll;
            overflow-wrap: break-word;
        }
    }
}


    .container-create-team{
        h2{
        @media (min-width:320px) {
            font-size: 0.75rem; 
        }
        @media (min-width:640px) {
            font-size: 1rem;
        }
        @media (min-width:720px){
            font-size: 1.25rem;
        }
        @media (min-width:960px){
            font-size: 1.5rem;
        }
    }
}

// @media (min-width:640px) {
//     .container-create-team{
//         h2{
//             font-size: 1rem; 
//         }
//     }
// }
// @media (min-width:720px){
//     .container-create-team{
//         h2{
//             font-size: 1.25rem; 
//         }
// }
// }
// @media (min-width:960px){
//     .container-create-team{
//         h2{
//             font-size: 1.5rem; 
//         }
// }
// }