{{outlet}}
<div class="container-invite-members">
{{paper-progress-linear value=66}}
<div class="layout-column">
    <div class="layout layout-align-space-around-center">
        {{paper-input label="Invite Members" value=invite_members 
                placeholder="someone@example.com" onChange=(action (mut invite_members))}}
    </div>

    <div class="layout-row layout-align-end-end">
        {{#link-to "create-team.integrations"}}
            {{#paper-button mini=true warn=true}}{{paper-icon "keyboard_arrow_right"}}{{/paper-button}}
        {{/link-to}}
    </div>
</div>
</div>