<div class="container ">
        
        <div class="layout-column layout-align-space-around-center flex">
            <h2>Create a Team</h2>
            {{paper-input label="Team Name" value=team_name onChange=(action (mut team_name))}}
            
            
        </div>
        {{outlet}}

        <div class="layout-row layout-align-center flex">
            {{#link-to "index"}}
                {{#paper-button raised=true}}
                    CANCEL
                {{/paper-button}}
            {{/link-to}}
            {{#link-to "create-team.invite-members"}}
                {{#paper-button warn=true raised=true}}CREATE TEAM{{/paper-button}}
            {{/link-to}}
        </div>
        
</div>
