<div class="container container-create-team ">
        <div class="layout-column layout-align-space-around-center flex">
            <h2>Create Team</h2>
        </div>    
        {{!-- <div class="layout-row layout-align-center-end">
            {{paper-icon "keyboard_backspace"}}
        </div> --}}
</div>
