
<h2>Projects</h2>


<div class="layout-row layout-xs-column">	
{{#paper-card as |card|}}
<div class="layout-row flex-xs flex-gt-xs-50">
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}Project 1{{/text.headline}}
          {{#text.subhead}}Project ID: {{/text.subhead}}
           {{#text.subhead}}Description: {{/text.subhead}}
          {{#text.subhead}}Project status: {{/text.subhead}}
          {{#text.subhead}}Due date: {{/text.subhead}}
        {{/title.text}}
        {{/card.title}}
        </div>
   {{/paper-card}}
    

     
{{#paper-card as |card|}}
<div class="layout-row flex-xs flex-gt-xs-50">
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}Project 2{{/text.headline}}
          {{#text.subhead}}Project ID: {{/text.subhead}}
           {{#text.subhead}}Description: {{/text.subhead}}
          {{#text.subhead}}Project status: {{/text.subhead}}
          {{#text.subhead}}Due date: {{/text.subhead}}
        {{/title.text}}
        {{/card.title}}
        </div>
    {{/paper-card}}
    

      
{{#paper-card as |card|}}
<div class="layout-row flex-xs flex-gt-xs-50">
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}Project 3{{/text.headline}}
          {{#text.subhead}}Project ID: {{/text.subhead}}
           {{#text.subhead}}Description: {{/text.subhead}}
          {{#text.subhead}}Project status: {{/text.subhead}}
          {{#text.subhead}}Due date: {{/text.subhead}}
        {{/title.text}}
        {{/card.title}}
        </div>
    {{/paper-card}}
    

    
{{#paper-card as |card|}}
<div class="layout-row flex-xs flex-gt-xs-50">
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}Project 4{{/text.headline}}
          {{#text.subhead}}Project ID: {{/text.subhead}}
           {{#text.subhead}}Description: {{/text.subhead}}
          {{#text.subhead}}Project status: {{/text.subhead}}
          {{#text.subhead}}Due date: {{/text.subhead}}
        {{/title.text}}
        {{/card.title}}
        </div>
    {{/paper-card}}
    

  
   
</div>