{{outlet}}


<div class="options-block">
            {{#paper-button raised=true primary=true}}START DISCUSSION{{/paper-button}}
            {{#paper-button raised=true warn=true}}MARK AS COMPLETE{{/paper-button}}
            {{#paper-button raised=true accent=true}}CANCEL TASK{{/paper-button}}

</div>
            
